Sender/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2318/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessageWCF" />
  <xs:element name="SaveMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MessageWCF" minOccurs="0" name="message" nillable="true" type="q1:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MessageWCF" minOccurs="0" name="GetMessagesResult" nillable="true" type="q2:ArrayOfMessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>