MessageApp/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessageWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessageWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMessageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageModel" nillable="true" type="tns:MessageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageModel" nillable="true" type="tns:ArrayOfMessageModel" />
  <xs:complexType name="MessageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfMessage" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageModel" nillable="true" type="tns:MessageModel" />
</xs:schema>